.home-main_nav {
    border: 1px solid black;

    .home-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        background-color: black;

        .nav-log {
            img {
                max-width: 150px;
            }
        }

        .nav-middle {
            ul {
                display: flex;
                gap: 3rem;
                list-style-type: none;
                font-size: 18px;
                margin-bottom: 0; 
                // corrected incomplete line
                a{
                    color: whitesmoke;
                    text-decoration: none;
                }
                li{
                    color: white;
                    i{
                        font-size: 14px;
                    }
                }
            }
        }

        .nav-right {
            button {
                padding: 0.5rem 2.5rem;
                background-color: transparent;
                border: 2px solid goldenrod;
            }
        }
    }
}
